[Unit]
Description=SpaceMouse Bridge for xDesign (User Service)
After=gnome-session.target network.target

[Service]
Type=simple
# Connect to the specific venv python interpreter
ExecStart=/run/media/tommaso/App/dev/spacemouse_xdesign/spacemouse_bridge/venv/bin/python3 /run/media/tommaso/App/dev/spacemouse_xdesign/spacemouse_bridge/main.py
WorkingDirectory=/run/media/tommaso/App/dev/spacemouse_xdesign/spacemouse_bridge
Restart=always
RestartSec=2
# Ensure GUI access for pystray (Tray Icon) if run as service, although tray usually runs separately
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/1000/.mutter-Xwaylandauth.ARD7G3

[Install]
WantedBy=default.target
